body{
    background-color: #151818ec;
}
  
.container{
    min-height: 570px;
    background-color: #151818ec;
    color: white;
}

..h1{
    color: white;
    text-align: center;
    font-size: 65px;
}

.paragrafo1{
    color: white;
    text-align: justify;
    
}

.page-footer{
    background-color: rgb(21, 24, 24);
    color: white;
}

li a{
    padding: 0 5px;
    display: block;
    color: #d5d5d5;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
}

li a:hover {
background-color: gray;

