body{
    background-color: lightslategray;
}

.container-fluid1{
    background-image: url(../imagens/economia.jpg) ;
    min-height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.container{
    min-height: 572px;
    background-color: white;
}

.titulo1{
    color: white;
    text-align: left;
    font-size: 65px;
}

.paragrafo1{
    text-align: justify;
    color: white;
    
}

.page-footer{
    background-color: rgb(21, 24, 24);
    color: white;
}


